#!/bin/sh

# Language

# Use a better mouse pointer
xsetroot -cursor_name left_ptr

# Use the German keyboard layout
# setxkbmap -layout de
setxkbmap de &

# Environment variables set everywhere
export PATH="$PATH:$HOME/.config/dwmblocks/scripts"
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="brave"
export PDF="mupdf"
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit
export PATH="${PATH}:${HOME}/.local/bin"
#export PATH="${PATH}:/$HOME/.config/scripts"

# For QT Themes
#export QT_QPA_PLATFORMTHEME=qt5ct

# XDG Paths
# printenv | grep RUNTIME
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_RUNTIME_DIR=/run/user/$(id -u)

#.Xresources
#userresources=$HOME/.Xresources
#sysresources=/etc/X11/xinit/.Xresources
#[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

# Java applications
wmname LG3D

# Autostart
#exec slstatus &
#exec megasync &
#exec insync start &
#exec /home/michael/.screenlayout/arch.sh &
#feh --bg-fill --randomize ~/Downloads/git/archInst/wallpapers/* &
exec dwmblocks &
#exec unclutter -idle 6 &
#exec picom &
#exec feh --bg-scale /home/michael/Pictures/O6JX6Zm-arch-linux-wallpaper.jpg &
#exec insync &
#eval $(gnome-keyring-daemon --start)
#export SSH_AUTH_SOCK
#exec dbus-run-session dwm
